<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="BackendAPI_Specific" stopProcessing="true">
          <match url="^api/foreignGtin/getGtinProductDetails$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^gs1\.org\.sa$" />
          </conditions>
          <action type="Rewrite" url="https://website.gs1.org.sa/api/foreignGtin/getGtinProductDetails?{QUERY_STRING}" appendQueryString="false" />
        </rule>
        <rule name="BackendAPI_All" stopProcessing="true">
          <match url="^api/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^gs1\.org\.sa$" />
          </conditions>
          <action type="Rewrite" url="https://website.gs1.org.sa/api/{R:1}?{QUERY_STRING}" appendQueryString="false" />
        </rule>
        <rule name="Uploads" stopProcessing="true">
          <match url="^uploads/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^gs1\.org\.sa$" />
          </conditions>
          <action type="Rewrite" url="https://website.gs1.org.sa/uploads/{R:1}" appendQueryString="false" />
        </rule>
        <rule name="ReverseProxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:1910/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
